# TimescaleDB Analysis

SQL-based analysis of Hyperliquid fill data stored in TimescaleDB.

**Prerequisites:**
```bash
just up                    # Start TimescaleDB
just fetch 2025-11-01      # Fetch data to parquet
just load                  # Load parquet into DB
```

---

## Setup

In [16]:
import os
import pandas as pd
import psycopg
from dotenv import load_dotenv

load_dotenv()

pd.set_option('display.max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.float_format', '{:,.2f}'.format)

DATABASE_URL = os.getenv(
    "DATABASE_URL", "postgresql://postgres:password@localhost:5435/vigil"
)

def query(sql: str) -> pd.DataFrame:
    """Execute SQL and return DataFrame."""
    with psycopg.connect(DATABASE_URL) as conn:
        return pd.read_sql(sql, conn)

def execute(sql: str):
    """Execute SQL without returning results."""
    with psycopg.connect(DATABASE_URL) as conn:
        conn.execute(sql)
        conn.commit()

print(f"Connected to: {DATABASE_URL.split('@')[1]}")

Connected to: localhost:5435/vigil

---

## Data Overview

In [17]:
# Quick stats
query("""
SELECT 
    COUNT(*) AS total_fills,
    COUNT(*) / 2 AS total_trades,
    COUNT(DISTINCT "user") AS unique_traders,
    COUNT(DISTINCT coin) AS unique_coins,
    SUM(px::numeric * sz::numeric) / 2 AS total_volume,
    MIN(time) AS first_fill,
    MAX(time) AS last_fill
FROM fills
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,total_fills,total_trades,unique_traders,unique_coins,total_volume,first_fill,last_fill
0,4470719,2235359,33654,284,"3,143,793,036.92",1761955200078,1762041599752

In [18]:
# Data by day (time is in ms, so divide by 86400000 for days)
query("""
SELECT 
    (time / 86400000) * 86400000 AS day,
    COUNT(*) / 2 AS trades,
    COUNT(DISTINCT "user") AS traders,
    SUM(px::numeric * sz::numeric) / 2 AS volume
FROM fills
GROUP BY day
ORDER BY day
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

             day   trades  traders           volume
0  1761955200000  2235359    33654 3,143,793,036.92

---

## Top Traders by Volume

In [19]:
query("""
SELECT 
    "user",
    COUNT(*) / 2 AS trades,
    SUM(px::numeric * sz::numeric) / 2 AS volume,
    COUNT(DISTINCT coin) AS coins_traded
FROM fills
GROUP BY "user"
ORDER BY volume DESC
LIMIT 20
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,user,trades,volume,coins_traded
0,0xecb63caa47c7c4e77f60f1ce858cf28dc2b82b00,66930,"83,556,749.11",72
1,0x023a3d058020fb76cca98f01b3c48c8938a22355,24486,"78,826,877.00",132
2,0xc6ac58a7a63339898aeda32499a8238a46d88e84,4770,"77,905,957.87",1
3,0xb4321b142b2a03ce20fcab2007ff6990b9acba93,53619,"62,473,149.57",32
4,0x53babe76166eae33c861aeddf9ce89af20311cd0,3134,"62,040,340.08",3
5,0x0fd468a73084daa6ea77a9261e40fdec3e67e0c7,5401,"61,605,068.01",1
6,0x4129c62faf652fea61375dcd9ca8ce24b2bb8b95,2928,"59,178,362.56",1
7,0xf9109ada2f73c62e9889b45453065f0d99260a2d,11196,"47,318,418.99",59
8,0x31ca8395cf837de08b24da3f660e77761dfb974b,118755,"44,357,618.59",180
9,0x7ca165f354e3260e2f8d5a7508cc9dd2fa009235,1509,"41,933,834.48",2
10,0x010461c14e146ac35fe42271bdc1134ee31c703a,108205,"40,817,507.38",180
11,0x162cc7c861ebd0c06b3d72319201150482518185,21170,"37,379,317.98",14
12,0x09bc1cf4d9f0b59e1425a8fde4d4b1f7d3c9410d,1309,"35,377,371.73",1
13,0xd911e53d53b663972254e086450fd6198a25961e,1176,"27,948,091.94",2
14,0xb8eb97eaed8367079894d2f1bed69bd220ec1dd5,1400,"27,242,719.99",1
15,0xc50aa1e77492ab1090de92866ae91303e9981d98,2476,"26,578,113.36",4
16,0xd02928c445d780ea954fe0b6f0be0f6cb9727678,34933,"25,906,966.35",38
17,0xa880d6cc607a05ea617307ab3b0d335e8d8424ee,6767,"25,625,711.67",3
18,0x7717a7a245d9f950e586822b8c9b46863ed7bd7e,26704,"24,964,682.73",149
19,0xf967239debef10dbc78e9bbbb2d8a16b72a614eb,2455,"24,758,840.31",1

---

## Top Traders by PnL

In [20]:
# Top winners
query("""
SELECT 
    "user",
    SUM("closedPnl"::numeric) AS realized_pnl,
    SUM(fee::numeric) AS fees_paid,
    SUM("closedPnl"::numeric) - SUM(fee::numeric) AS net_pnl,
    COUNT(*) / 2 AS trades,
    SUM(px::numeric * sz::numeric) / 2 AS volume
FROM fills
GROUP BY "user"
HAVING SUM("closedPnl"::numeric) > 0
ORDER BY net_pnl DESC
LIMIT 20
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,user,realized_pnl,fees_paid,net_pnl,trades,volume
0,0x519c721de735f7c9e6146d167852e60d60496a47,"1,547,679.29","3,013.10","1,544,666.20",1947,"4,615,654.90"
1,0xb83de012dba672c76a7dbbbf3e459cb59d7d6e36,"1,406,338.73","4,625.40","1,401,713.33",4916,"13,043,856.31"
2,0xc7847f80861d2e47c40dfacf9f69e0d0c1393e53,"652,373.86",515.61,"651,858.25",167,"766,631.66"
3,0xe7ec7fbf4f195fc8e57d814e15c3a2857cb632a3,"523,958.68","2,456.97","521,501.71",3841,"5,121,742.16"
4,0x152e41f0b83e6cad4b5dc730c1d6279b7d67c9dc,"382,439.37",62.61,"382,376.76",2622,"7,769,156.93"
5,0xd28e005c992b168d0b20fca312958e105bb260ab,"367,686.45",226.98,"367,459.47",696,"927,204.38"
6,0x5b5d51203a0f9079f8aeb098a6523a13f298c060,"264,403.34",600.23,"263,803.12",3150,"3,223,344.71"
7,0x6f97d329b072e0f7b74575565d806a4351b8f824,"252,960.28","3,630.86","249,329.42",1125,"15,982,655.02"
8,0x45d26f28196d226497130c4bac709d808fed4029,"237,665.18",7.74,"237,657.44",23,"12,287.51"
9,0xb88f3bc2ad32d3d256e26347d1ad24332a18185d,"240,288.39","4,347.07","235,941.33",1953,"6,210,096.51"
10,0xd4c1f7e8d876c4749228d515473d36f919583d1d,"235,255.07","1,503.89","233,751.19",4944,"3,710,243.85"
11,0xbf732ea04197942783e34730ed6e0f6099575d58,"216,493.98","5,711.62","210,782.36",1195,"10,577,072.10"
12,0xb1e0912b4a1872afe530a7f0be6bb6fb253d1018,"204,010.05",185.59,"203,824.45",98,"387,329.93"
13,0xba74c7d47a39dafbe83e9b4c12fc6fae44db9db0,"186,765.38",718.50,"186,046.88",432,"1,026,429.99"
14,0xb4321b142b2a03ce20fcab2007ff6990b9acba93,"178,530.86","4,107.99","174,422.88",53619,"62,473,149.57"
15,0x9386b9538884d849943d77f1c5412de9e72b021f,"169,871.69",250.53,"169,621.15",383,"719,952.16"
16,0x9263c1bd29aa87a118242f3fbba4517037f8cc7a,"169,429.87","1,023.03","168,406.84",293,"2,989,183.35"
17,0xffbd3e51ae0e2c4407434e157965c064f2a11628,"148,431.85","1,678.28","146,753.57",645,"3,406,197.42"
18,0x8701675db59609f63625f7eadb0f212ee3651656,"143,060.28",542.26,"142,518.02",87,"542,262.22"
19,0x88250cf2f6402e856bc85fc65095e4a48bb12cb7,"140,287.56",726.33,"139,561.24",1987,"924,412.80"

In [21]:
# Top losers
query("""
SELECT 
    "user",
    SUM("closedPnl"::numeric) AS realized_pnl,
    SUM(fee::numeric) AS fees_paid,
    SUM("closedPnl"::numeric) - SUM(fee::numeric) AS net_pnl,
    COUNT(*) / 2 AS trades,
    SUM(px::numeric * sz::numeric) / 2 AS volume
FROM fills
GROUP BY "user"
HAVING SUM("closedPnl"::numeric) < 0
ORDER BY net_pnl ASC
LIMIT 20
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,user,realized_pnl,fees_paid,net_pnl,trades,volume
0,0x8d0e342e0524392d035fb37461c6f5813ff59244,"-742,806.21","3,595.75","-746,401.96",780,"8,216,464.26"
1,0xda7b5af0a44ab943deed6e2595331d2472e71533,"-425,023.15","1,421.34","-426,444.49",1353,"2,054,385.25"
2,0xecb63caa47c7c4e77f60f1ce858cf28dc2b82b00,"-254,229.39","145,998.05","-400,227.44",66930,"83,556,749.11"
3,0x7717a7a245d9f950e586822b8c9b46863ed7bd7e,"-279,574.14",25.50,"-279,599.64",26704,"24,964,682.73"
4,0x50b309f78e774a756a2230e1769729094cac9f20,"-227,123.03","10,345.30","-237,468.33",2690,"14,556,483.65"
5,0x42279dd8c894a0c3c79f45373575f3e9cd391064,"-232,322.87","1,886.56","-234,209.43",387,"3,144,269.77"
6,0xd0254dd9c10498b256b6ec3bd8de37a9ba4329de,"-220,346.92","1,273.06","-221,619.99",1535,"5,271,348.97"
7,0x856c35038594767646266bc7fd68dc26480e910d,"-204,415.15",333.70,"-204,748.84",3296,"1,885,200.07"
8,0x149284c3c77d3349b78c97aff883d6f5f4bb512d,-12.65,"204,672.76","-204,685.42",27,"6,379.78"
9,0xec326a384ae965647d87e1f85db46d2efa15ae82,"-190,453.40","4,125.56","-194,578.96",531,"8,364,255.80"
10,0xb07f5f6a1b7ab7f7aaa8f37c2ea324d66c8d1550,"-158,462.42",272.62,"-158,735.04",252,"908,734.57"
11,0xb28cf8649d1cda2975d290f04ea4cc4db7b3828e,"-147,042.35","4,283.52","-151,325.87",3852,"7,139,205.90"
12,0x7da85a334e43a6b1c2c0da9623409d9ee9047747,"-139,941.65","1,509.16","-141,450.81",913,"2,694,926.32"
13,0x023a3d058020fb76cca98f01b3c48c8938a22355,"-146,640.98","-5,370.56","-141,270.42",24486,"78,826,877.00"
14,0x1469291fb5aede07a1540b0f59025674bb5b6e31,"-128,527.39",116.83,"-128,644.22",53,"440,541.96"
15,0x880ac484a1743862989a441d6d867238c7aa311c,"-124,695.32",415.45,"-125,110.77",2621,"6,617,598.47"
16,0x6140eb3b4a5fd2787bd315645646f59464a40642,"-123,382.90",45.54,"-123,428.44",59,"128,375.34"
17,0x0e09b56ef137f417e424f1265425e93bfff77e17,"-121,310.29",945.88,"-122,256.17",1422,"1,576,471.34"
18,0xc264fc52f546cec9f21f3bf9f076670bb51a9e9c,"-101,017.44","5,248.08","-106,265.52",202,"8,746,796.46"
19,0x4c0f0ea5083bf9ec4ee2128498238ec8dcfb979e,"-104,602.16",28.49,"-104,630.65",37,"51,298.97"

---

## Volume by Coin

In [22]:
query("""
SELECT 
    coin,
    COUNT(*) / 2 AS trades,
    COUNT(DISTINCT "user") AS unique_traders,
    SUM(px::numeric * sz::numeric) / 2 AS volume,
    AVG(px::numeric) AS avg_price
FROM fills
GROUP BY coin
ORDER BY volume DESC
LIMIT 20
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

          coin  trades  unique_traders           volume  avg_price
0          BTC  207306            8610 1,036,236,948.26 110,087.76
1          ETH   91169            5021   531,646,738.72   3,868.60
2         HYPE  371692            6834   290,804,668.95      43.63
3          SOL  102639            4844   241,754,941.09     185.91
4          ZEC  159427            3930   230,293,130.33     419.71
5      VIRTUAL   94680            2305    78,544,738.19       1.70
6         @107   70605            2369    77,861,978.28      43.61
7         PUMP   44568            1515    47,350,954.30       0.00
8   xyz:XYZ100   23541            1001    44,942,140.68  25,874.70
9         @142   50029            1355    43,311,287.11 110,042.52
10         TAO   44803            2179    40,303,776.10     511.29
11         XRP   18053            1632    37,112,790.83       2.50
12       TRUMP   23077            1276    35,964,355.44       8.01
13       ASTER   19469             964    27,613,934.92       0.98
14         ZEN   39171            1152    21,594,684.94      18.82
15       AI16Z   33969            1089    20,489,093.66       0.09
16         XPL   18659             857    19,909,657.56       0.30
17    FARTCOIN   24796             941    16,331,008.53       0.33
18        @151   16668            1199    15,236,161.89   3,867.37
19         ENA   13367            1453    12,627,746.02       0.39

---

## Maker vs Taker Analysis

In [23]:
# Overall maker/taker split
query("""
SELECT 
    CASE WHEN crossed THEN 'Taker' ELSE 'Maker' END AS order_type,
    COUNT(*) AS fills,
    SUM(px::numeric * sz::numeric) AS volume,
    SUM(fee::numeric) AS total_fees,
    AVG(fee::numeric) AS avg_fee
FROM fills
GROUP BY crossed
ORDER BY volume DESC
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

  order_type    fills           volume   total_fees  avg_fee
0      Taker  2236662 3,143,793,242.12 2,642,255.82     1.18
1      Maker  2234057 3,143,792,831.71   453,793.26     0.20

In [24]:
# Top makers (provide liquidity)
query("""
SELECT 
    "user",
    COUNT(*) AS total_fills,
    SUM(CASE WHEN NOT crossed THEN 1 ELSE 0 END) AS maker_fills,
    ROUND(100.0 * SUM(CASE WHEN NOT crossed THEN 1 ELSE 0 END) / COUNT(*), 2) AS maker_pct,
    SUM(px::numeric * sz::numeric) / 2 AS volume,
    SUM("closedPnl"::numeric) - SUM(fee::numeric) AS net_pnl
FROM fills
GROUP BY "user"
HAVING COUNT(*) >= 100
ORDER BY maker_pct DESC
LIMIT 20
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,user,total_fills,maker_fills,maker_pct,volume,net_pnl
0,0x02458da63912ec36f8e8352fb2a9f58021a36484,286,286,100.00,"53,233.77",-700.49
1,0x02f9dcf63c27862dc9c831437dc52a860fc8221a,140,140,100.00,"2,426.84",6.89
2,0x02361e1601a0c5cd6812276f105b9ee8ad278dbc,126,126,100.00,"1,352.32",4.50
3,0x0234143c1da02bb2976aa77a0f0b9c934d62154c,131,131,100.00,"1,662.54",5.47
4,0x0291639ea7178930475da17b579e1ac2de8faed8,791,791,100.00,"860,691.05","1,506.52"
5,0x01e990c24af86928fcde38979fda2ff9fb32142d,418,418,100.00,"2,500.09",-3.87
6,0x000780ea47a355645a48d830ee3df8975e6cd99c,136,136,100.00,"2,356.60",6.76
7,0x00424219298e226deb4a1ce6a30d7cedb1d8a0f2,133,133,100.00,"1,741.76",4.98
8,0x022ccf5215dd8142c68e5c2bb433e64c776c0917,103,103,100.00,"1,308.25",4.08
9,0x00dae90867403d5103ab6044d586939a3c641a69,135,135,100.00,"2,946.05",9.32
10,0x015d6d56fc94892416c1aae3e25cf381811603d9,138,138,100.00,"2,000.71",6.60
11,0x01096ab5eea5a13ae77bdfc08ded4e254352d12f,114,114,100.00,"1,242.64",3.59
12,0x0191ee7b28282188e1b333a31bd82eba26848d2b,532,532,100.00,"1,566,819.28",-193.24
13,0x01826bf26b1407ab48e4d3f8ef021e8846e56810,613,613,100.00,"109,961.54",-119.21
14,0x00b2781eea66f8543d4ca6da1a4ad7b5f159cf8a,133,133,100.00,"2,321.74",6.95
15,0x00b4422b13a5fde2897264881a8f5437035f39c7,136,136,100.00,"2,338.81",7.10
16,0x00ba3c2d8bb9de21d5de9fd71987a8a354b5b757,145,145,100.00,"13,095.07",2.27
17,0x00c23e88b5b6a79aef24edb0f087bbf6c7e4d6a2,131,131,100.00,"1,985.10",6.84
18,0x001d6faf84c7832ffe98ec20e08b7ed400b124f6,140,140,100.00,"1,527.06",4.91
19,0x034206a3313f6171f1460aa36073a802253d626e,139,139,100.00,"1,806.52",6.04

---

## Win Rate Analysis

In [25]:
# Traders with best win rate (min 10 closing trades)
query("""
SELECT 
    "user",
    COUNT(*) FILTER (WHERE dir LIKE 'Close%') AS closing_trades,
    COUNT(*) FILTER (WHERE dir LIKE 'Close%' AND "closedPnl"::numeric > 0) AS wins,
    COUNT(*) FILTER (WHERE dir LIKE 'Close%' AND "closedPnl"::numeric < 0) AS losses,
    ROUND(100.0 * COUNT(*) FILTER (WHERE dir LIKE 'Close%' AND "closedPnl"::numeric > 0) / 
        NULLIF(COUNT(*) FILTER (WHERE dir LIKE 'Close%'), 0), 2) AS win_rate,
    SUM("closedPnl"::numeric) AS total_pnl
FROM fills
GROUP BY "user"
HAVING COUNT(*) FILTER (WHERE dir LIKE 'Close%') >= 10
ORDER BY win_rate DESC
LIMIT 20
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,user,closing_trades,wins,losses,win_rate,total_pnl
0,0x0555f96264fec6e0693d25ca140b788f7a8b8872,15,15,0,100.00,"3,707.58"
1,0x04b8b5af39f4187142f75e920a11883848002975,112,112,0,100.00,17.65
2,0x04614b4d3b6f1a61d07320c3fdff7961f7e228a1,11,11,0,100.00,258.36
3,0x047f3853f3d89e5a61344749519de7a66fd4f9c4,16,16,0,100.00,492.14
4,0x045d8507915c71c814ee2735e03ca9bdfa4a7685,35,35,0,100.00,170.53
5,0x047cff27ab58cc8e2dabcc0a56e9790d2ba0cfcb,15,15,0,100.00,"3,745.43"
6,0x025d89d7f7c95c47dbeb8097ad248678dfe5e152,28,28,0,100.00,11.15
7,0x042dd223660bc31d67fa0f275ef2e02f8f0e0a38,14,14,0,100.00,347.52
8,0x02e27b30a7209dbcaf8963845d0ec5cff80330fb,124,124,0,100.00,691.51
9,0x0324269f573396b9736dfe7e55b5e97a150e5b73,12,12,0,100.00,19.31
10,0x00327e875e118eb7f8dc522f8c0ece5bbfa7282c,115,115,0,100.00,"4,042.71"
11,0x000c13c51b0fcd8a83b0d99707aa137ac9937c7c,27,27,0,100.00,40.83
12,0x0252f92ee3f4430ac419fc3e9ae31df718990842,50,50,0,100.00,"6,479.93"
13,0x038bbb7ef7632606b3c53c4866a6d6c380a3fc68,82,82,0,100.00,137.38
14,0x000006eee6e39015cb523aebdd4d0b1855aba682,19,19,0,100.00,148.04
15,0x019faa836ae17c687713ff200e095b96e7a779a8,61,61,0,100.00,"1,515.07"
16,0x03d82ea4b58019524c10b7746b9314fb9ec9946a,26,26,0,100.00,"2,247.58"
17,0x0116a3d95994bcc7d6a84380ed6256fbb32cd25d,16,16,0,100.00,66.21
18,0x00620ada30d98ffcf8e3c91e65283127d11c64ce,11,11,0,100.00,130.15
19,0x05b5a0ae689c17cad8155932782a5c29426abe75,22,22,0,100.00,"6,542.04"

---

## Hourly Volume (TimescaleDB time_bucket)

In [ ]:
# Hourly volume (time is in ms, convert to datetime for plotting)
hourly = query("""
SELECT 
    (time / 3600000) * 3600000 AS hour_ms,
    COUNT(*) / 2 AS trades,
    COUNT(DISTINCT "user") AS active_traders,
    SUM(px::numeric * sz::numeric) / 2 AS volume
FROM fills
GROUP BY hour_ms
ORDER BY hour_ms
""")

# Convert ms to datetime
hourly['hour'] = pd.to_datetime(hourly['hour_ms'], unit='ms')
print(f"Hourly data: {len(hourly)} hours")
hourly[['hour', 'trades', 'active_traders', 'volume']].head(10)

In [ ]:
# Plot hourly volume
import matplotlib.pyplot as plt
import matplotlib.dates as mdates

fig, ax = plt.subplots(figsize=(14, 5))
ax.bar(hourly['hour'], hourly['volume'] / 1e6, width=0.03)
ax.set_xlabel('Time (UTC)')
ax.set_ylabel('Volume ($M)')
ax.set_title('Hourly Trading Volume - Nov 1, 2025')

# Format x-axis as hours
ax.xaxis.set_major_formatter(mdates.DateFormatter('%H:%M'))
ax.xaxis.set_major_locator(mdates.HourLocator(interval=2))

plt.xticks(rotation=45)
plt.tight_layout()
plt.show()

---

## Continuous Aggregate: trader_daily

Pre-computed daily trader stats (faster for large datasets).

In [28]:
# trader_daily is now a regular view, no refresh needed
print("trader_daily is a regular view (computed on query)")

trader_daily is a regular view (computed on query)

In [29]:
# Query the trader_daily view
query("""
SELECT 
    day,
    COUNT(DISTINCT "user") AS traders,
    SUM(fill_count) / 2 AS total_trades,
    SUM(volume) / 2 AS total_volume,
    SUM(realized_pnl) AS total_pnl,
    SUM(fees_paid) AS total_fees
FROM trader_daily
GROUP BY day
ORDER BY day
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,day,traders,total_trades,total_volume,total_pnl,total_fees
0,1761955200000,33654,"2,235,359.50","3,143,793,036.92","6,147,924.97","3,096,049.08"

In [30]:
# Top traders from view
query("""
SELECT 
    "user",
    SUM(fill_count) / 2 AS trades,
    SUM(volume) / 2 AS volume,
    SUM(realized_pnl) - SUM(fees_paid) AS net_pnl,
    AVG(maker_pct) * 100 AS avg_maker_pct,
    SUM(winning_trades) AS wins,
    SUM(losing_trades) AS losses
FROM trader_daily
GROUP BY "user"
ORDER BY net_pnl DESC
LIMIT 20
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,user,trades,volume,net_pnl,avg_maker_pct,wins,losses
0,0x519c721de735f7c9e6146d167852e60d60496a47,"1,947.50","4,615,654.90","1,544,666.20",0.00,"2,274.00",0.00
1,0xb83de012dba672c76a7dbbbf3e459cb59d7d6e36,"4,916.00","13,043,856.31","1,401,713.33",8.98,"6,296.00",0.00
2,0xc7847f80861d2e47c40dfacf9f69e0d0c1393e53,167.50,"766,631.66","651,858.25",90.45,335.00,0.00
3,0xe7ec7fbf4f195fc8e57d814e15c3a2857cb632a3,"3,841.00","5,121,742.16","521,501.71",0.00,"7,682.00",0.00
4,0x152e41f0b83e6cad4b5dc730c1d6279b7d67c9dc,"2,622.50","7,769,156.93","382,376.76",99.16,"2,990.00",0.00
5,0xd28e005c992b168d0b20fca312958e105bb260ab,696.50,"927,204.38","367,459.47",100.00,"1,056.00",0.00
6,0x5b5d51203a0f9079f8aeb098a6523a13f298c060,"3,150.00","3,223,344.71","263,803.12",10.38,"1,440.00",0.00
7,0x6f97d329b072e0f7b74575565d806a4351b8f824,"1,125.00","15,982,655.02","249,329.42",63.33,"1,232.00",0.00
8,0x45d26f28196d226497130c4bac709d808fed4029,23.00,"12,287.51","237,657.44",0.00,46.00,0.00
9,0xb88f3bc2ad32d3d256e26347d1ad24332a18185d,"1,953.00","6,210,096.51","235,941.33",0.00,"1,273.00",374.00
10,0xd4c1f7e8d876c4749228d515473d36f919583d1d,"4,944.50","3,710,243.85","233,751.19",8.00,"7,059.00","1,782.00"
11,0xbf732ea04197942783e34730ed6e0f6099575d58,"1,195.50","10,577,072.10","210,782.36",0.00,704.00,563.00
12,0xb1e0912b4a1872afe530a7f0be6bb6fb253d1018,98.50,"387,329.93","203,824.45",64.47,197.00,0.00
13,0xba74c7d47a39dafbe83e9b4c12fc6fae44db9db0,432.00,"1,026,429.99","186,046.88",0.00,571.00,98.00
14,0xb4321b142b2a03ce20fcab2007ff6990b9acba93,"53,619.50","62,473,149.57","174,422.88",34.97,"32,232.00","27,359.00"
15,0x9386b9538884d849943d77f1c5412de9e72b021f,383.00,"719,952.16","169,621.15",88.12,669.00,97.00
16,0x9263c1bd29aa87a118242f3fbba4517037f8cc7a,293.50,"2,989,183.35","168,406.84",34.58,587.00,0.00
17,0xffbd3e51ae0e2c4407434e157965c064f2a11628,645.50,"3,406,197.42","146,753.57",30.98,355.00,224.00
18,0x8701675db59609f63625f7eadb0f212ee3651656,87.00,"542,262.22","142,518.02",0.00,174.00,0.00
19,0x88250cf2f6402e856bc85fc65095e4a48bb12cb7,"1,987.50","924,412.80","139,561.24",2.44,"1,151.00",816.00

---

## Trader Deep Dive

Analyze a specific trader's activity.

In [31]:
# Set trader address to analyze
# Find top trader first
top_trader = query("""
SELECT "user" 
FROM fills 
GROUP BY "user" 
ORDER BY SUM("closedPnl"::numeric) DESC 
LIMIT 1
""").iloc[0]['user']

TRADER = top_trader
print(f"Analyzing: {TRADER}")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

Analyzing: 0x519c721de735f7c9e6146d167852e60d60496a47

In [32]:
# Trader summary
query(f"""
SELECT 
    COUNT(*) / 2 AS trades,
    SUM(px::numeric * sz::numeric) / 2 AS volume,
    COUNT(DISTINCT coin) AS coins_traded,
    SUM("closedPnl"::numeric) AS realized_pnl,
    SUM(fee::numeric) AS fees_paid,
    SUM("closedPnl"::numeric) - SUM(fee::numeric) AS net_pnl,
    ROUND(100.0 * SUM(CASE WHEN NOT crossed THEN 1 ELSE 0 END) / COUNT(*), 2) AS maker_pct,
    MIN(time) AS first_trade,
    MAX(time) AS last_trade
FROM fills
WHERE "user" = '{TRADER}'
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,trades,volume,coins_traded,realized_pnl,fees_paid,net_pnl,maker_pct,first_trade,last_trade
0,1947,"4,615,654.90",1,"1,547,679.29","3,013.10","1,544,666.20",0.00,1761967390007,1762010253437

In [33]:
# Trader's coin breakdown
query(f"""
SELECT 
    coin,
    COUNT(*) / 2 AS trades,
    SUM(px::numeric * sz::numeric) / 2 AS volume,
    SUM("closedPnl"::numeric) AS pnl
FROM fills
WHERE "user" = '{TRADER}'
GROUP BY coin
ORDER BY volume DESC
LIMIT 10
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

  coin  trades       volume          pnl
0  ZEC    1947 4,615,654.90 1,547,679.29

In [34]:
# Trader's hourly activity
query(f"""
SELECT 
    (time / 3600000) * 3600000 AS hour,
    COUNT(*) / 2 AS trades,
    SUM(px::numeric * sz::numeric) / 2 AS volume,
    SUM("closedPnl"::numeric) AS pnl
FROM fills
WHERE "user" = '{TRADER}'
GROUP BY hour
ORDER BY hour
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

             hour  trades       volume          pnl
0   1761966000000      44    11,267.79         0.00
1   1761969600000      68    18,166.73         0.00
2   1761973200000      69    18,366.14         0.00
3   1761976800000      74    18,774.99         0.00
4   1761980400000      77    18,406.35         0.00
5   1761984000000      78    18,417.20         0.00
6   1761987600000      74    18,352.69         0.00
7   1761991200000      71    18,344.62         0.00
8   1761994800000      76    17,968.32         0.00
9   1761998400000      75    17,976.79         0.00
10  1762002000000      80    17,615.96         0.00
11  1762005600000    1026 3,965,990.66 1,373,300.66
12  1762009200000     131   456,006.67   174,378.63

In [35]:
# Trader's recent fills
query(f"""
SELECT 
    time,
    coin,
    side,
    dir,
    px::numeric AS price,
    sz::numeric AS size,
    px::numeric * sz::numeric AS notional,
    "closedPnl"::numeric AS closed_pnl,
    crossed AS is_taker
FROM fills
WHERE "user" = '{TRADER}'
ORDER BY time DESC
LIMIT 20
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,time,coin,side,dir,price,size,notional,closed_pnl,is_taker
0,1762010253437,ZEC,A,Close Long,402.63,0.07,28.18,5.20,True
1,1762010253437,ZEC,A,Close Long,402.56,0.48,193.23,35.63,True
2,1762010125051,ZEC,A,Close Long,408.02,32.15,"13,117.84","2,561.68",True
3,1762010125051,ZEC,A,Close Long,408.02,2.45,999.65,195.21,True
4,1762010125051,ZEC,A,Close Long,408.01,32.15,"13,117.52","2,561.36",True
5,1762010125051,ZEC,A,Close Long,408.01,2.45,999.62,195.19,True
6,1762010125051,ZEC,A,Close Long,408.00,32.15,"13,117.20","2,561.03",True
7,1762010125051,ZEC,A,Close Long,408.00,2.45,999.60,195.16,True
8,1762010125051,ZEC,A,Close Long,407.99,3.16,"1,289.25",251.69,True
9,1762010095048,ZEC,A,Close Long,405.82,0.24,97.40,18.59,True
10,1762010095048,ZEC,A,Close Long,405.82,1.17,474.81,90.65,True
11,1762010095048,ZEC,A,Close Long,405.82,1.99,807.58,154.18,True
12,1762010095048,ZEC,A,Close Long,405.82,3.38,"1,371.67",261.88,True
13,1762010095048,ZEC,A,Close Long,405.82,2.46,998.32,190.60,True
14,1762010095048,ZEC,A,Close Long,405.70,1.29,523.35,99.79,True
15,1762010095048,ZEC,A,Close Long,405.55,7.63,"3,094.35",589.10,True
16,1762010095048,ZEC,A,Close Long,405.54,0.49,198.71,37.83,True
17,1762010095048,ZEC,A,Close Long,405.40,0.24,97.30,18.49,True
18,1762010095048,ZEC,A,Close Long,405.36,0.49,198.63,37.74,True
19,1762010095048,ZEC,A,Close Long,405.35,7.54,"3,056.34",580.65,True

---

## TWAP Analysis

Analyze TWAP order executions.

In [36]:
# TWAP orders overview
query("""
SELECT 
    COUNT(DISTINCT "twapId") AS unique_twaps,
    COUNT(*) AS twap_fills,
    SUM(px::numeric * sz::numeric) AS twap_volume,
    COUNT(DISTINCT "user") AS traders_using_twap
FROM fills
WHERE "twapId" IS NOT NULL
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

   unique_twaps  twap_fills    twap_volume  traders_using_twap
0          2091      315158 237,403,961.06                 553

In [37]:
# Largest TWAP orders
query("""
SELECT 
    "twapId",
    "user",
    coin,
    COUNT(*) AS fills,
    SUM(sz::numeric) AS total_size,
    SUM(px::numeric * sz::numeric) AS total_volume,
    MIN(px::numeric) AS min_price,
    MAX(px::numeric) AS max_price,
    AVG(px::numeric) AS avg_price,
    MIN(time) AS start_time,
    MAX(time) AS end_time
FROM fills
WHERE "twapId" IS NOT NULL
GROUP BY "twapId", "user", coin
ORDER BY total_volume DESC
LIMIT 10
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,twapId,user,coin,fills,total_size,total_volume,min_price,max_price,avg_price,start_time,end_time
0,1323808,0xc50aa1e77492ab1090de92866ae91303e9981d98,ETH,635,"3,148.54","12,182,074.81","3,862.70","3,873.40","3,869.45",1762020285127,1762022086025
1,1323809,0xc50aa1e77492ab1090de92866ae91303e9981d98,BTC,873,100.00,"11,029,041.71","110,238.00","110,365.00","110,292.39",1762020297024,1762022097023
2,1322612,0xa23190045c4aebeb724844ce622465475e539bae,HYPE,11212,"250,000.00","10,922,504.62",42.80,44.50,43.71,1761964868089,1762009898005
3,1324181,0xc50aa1e77492ab1090de92866ae91303e9981d98,BTC,712,80.00,"8,801,300.25","109,965.00","110,080.00","110,015.93",1762034869043,1762036669080
4,1323888,0xe7ec7fbf4f195fc8e57d814e15c3a2857cb632a3,HYPE,6920,"192,440.19","8,402,681.20",43.37,44.16,43.68,1762023223023,1762030424146
5,1322519,0xa23190045c4aebeb724844ce622465475e539bae,BTC,1296,55.00,"6,047,765.97","109,456.00","110,568.00","109,996.96",1761961471039,1761972271027
6,1322700,0x45ab58a2034f03aa446baf3bb1d236706f866cbc,BTC,718,50.00,"5,512,542.70","110,083.00","110,561.00","110,263.59",1761968188003,1761971788082
7,1322760,0xf967239debef10dbc78e9bbbb2d8a16b72a614eb,BTC,972,50.00,"5,511,535.23","110,045.00","110,384.00","110,234.04",1761970682077,1761976082034
8,1322585,0x45ab58a2034f03aa446baf3bb1d236706f866cbc,HYPE,3218,"120,000.00","5,239,612.61",43.29,43.97,43.65,1761963580033,1761967180125
9,1322601,0xa23190045c4aebeb724844ce622465475e539bae,HYPE,3568,"100,000.00","4,389,806.75",43.38,44.28,43.96,1761964410075,1761969810021

---

## Builder/Frontend Analysis

Analyze which frontends/builders are routing orders.

In [38]:
# Volume by builder
query("""
SELECT 
    COALESCE(builder, 'direct') AS builder,
    COUNT(*) / 2 AS trades,
    COUNT(DISTINCT "user") AS unique_traders,
    SUM(px::numeric * sz::numeric) / 2 AS volume,
    SUM("builderFee"::numeric) AS total_builder_fees
FROM fills
GROUP BY builder
ORDER BY volume DESC
LIMIT 10
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,builder,trades,unique_traders,volume,total_builder_fees
0,direct,1962416,21355,"2,918,898,120.74",NaN
1,0x1924b8561eef20e70ede628a296175d358be80e5,150043,4002,"92,213,933.23","57,723.98"
2,0xb84168cf3be63c6b8dad05ff5d755e97432ff80b,21631,3634,"48,367,804.88","48,367.79"
3,0xe95a5e31904e005066614247d309e00d8ad753aa,7256,1585,"10,408,238.91","16,887.97"
4,0x6530512a6c89c7cfcebc3ba7fcd9ada5f30827a6,37912,51,"9,972,251.00","1,880.41"
5,0x2868fc0d9786a740b491577a43502259efa78a39,6290,132,"8,657,217.70","1,728.05"
6,0x1cc34f6af34653c515b47a83e1de70ba9b0cda1f,3637,488,"8,176,094.04","1,635.22"
7,0x7975cafdff839ed5047244ed3a0dd82a89866081,2261,159,"7,419,876.93","2,361.37"
8,0x4c8731897503f86a2643959cbaa1e075e84babb7,1848,167,"5,267,233.62","3,527.43"
9,0x999a4b5f268a8fbf33736feff360d462ad248dbf,12246,126,"4,437,455.54","1,756.39"

---

## Liquidation Analysis

In [39]:
# Find liquidated traders (large negative PnL on closes)
query("""
SELECT 
    "user",
    coin,
    time,
    dir,
    px::numeric AS price,
    sz::numeric AS size,
    "closedPnl"::numeric AS closed_pnl
FROM fills
WHERE dir LIKE 'Close%' 
  AND "closedPnl"::numeric < -1000
ORDER BY "closedPnl"::numeric ASC
LIMIT 20
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,user,coin,time,dir,price,size,closed_pnl
0,0xda7b5af0a44ab943deed6e2595331d2472e71533,HYPE,1761962507888,Close Long,43.00,"12,001.31","-53,033.79"
1,0xda7b5af0a44ab943deed6e2595331d2472e71533,HYPE,1761962414989,Close Long,43.11,"8,367.76","-36,056.68"
2,0xda7b5af0a44ab943deed6e2595331d2472e71533,HYPE,1761962414989,Close Long,42.85,"5,834.35","-26,657.15"
3,0x1469291fb5aede07a1540b0f59025674bb5b6e31,BNB,1762007418421,Close Short,"1,083.00",55.30,"-20,918.18"
4,0x6140eb3b4a5fd2787bd315645646f59464a40642,ZEC,1762008426020,Close Short,400.10,104.48,"-19,859.07"
5,0xda143d4f61fef9ed99f1739c0597c59673a600ed,VIRTUAL,1762010672041,Close Long,1.66,"118,279.00","-17,921.63"
6,0x8d0e342e0524392d035fb37461c6f5813ff59244,SOL,1762010287107,Close Long,185.97,"2,041.75","-16,668.64"
7,0x1469291fb5aede07a1540b0f59025674bb5b6e31,BTC,1762006494945,Close Short,"109,776.00",2.96,"-15,574.31"
8,0x6140eb3b4a5fd2787bd315645646f59464a40642,ZEC,1762008438264,Close Short,400.10,81.56,"-15,502.54"
9,0x50b309f78e774a756a2230e1769729094cac9f20,ZEC,1761955416882,Close Short,411.37,"2,246.67","-15,490.12"
10,0xda7b5af0a44ab943deed6e2595331d2472e71533,HYPE,1761962414989,Close Long,43.00,"3,488.46","-15,418.99"
11,0x8d0e342e0524392d035fb37461c6f5813ff59244,SOL,1761977132650,Close Long,186.01,"1,650.72","-13,410.28"
12,0x704c8c855765b4c053cc2dc02b3f318caf2ab732,HYPE,1762008657540,Close Long,42.90,"2,338.20","-13,162.66"
13,0x42279dd8c894a0c3c79f45373575f3e9cd391064,TRUMP,1762035282701,Close Long,7.15,"16,831.70","-12,754.89"
14,0x1d74a7760df9d563d0b6610b1705266c4e2fdb26,ZEC,1762007500258,Close Short,395.00,300.00,"-12,478.56"
15,0x1469291fb5aede07a1540b0f59025674bb5b6e31,BNB,1762007418828,Close Short,"1,083.00",32.29,"-12,212.61"
16,0xec326a384ae965647d87e1f85db46d2efa15ae82,SOL,1762005151887,Close Long,185.10,"4,008.54","-11,578.67"
17,0x291e4ebb46c04d87c2fb10582b20e9258a1a83f8,W,1762018508237,Close Long,0.07,"16,623.20","-11,151.51"
18,0x42279dd8c894a0c3c79f45373575f3e9cd391064,TRUMP,1762035279718,Close Long,7.45,"23,946.30","-10,948.01"
19,0x42279dd8c894a0c3c79f45373575f3e9cd391064,TRUMP,1762035279718,Close Long,7.39,"21,147.20","-10,854.65"

---

## Custom Query

Run your own SQL queries.

In [40]:
# Custom query - sample data
query("""
SELECT *
FROM fills
LIMIT 5
""")

/var/folders/2x/tfyxjvsd6938x4lctsmhh00c0000gn/T/ipykernel_71035/3596746817.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(sql, conn)

,time,user,coin,px,sz,side,dir,startPosition,closedPnl,fee,crossed,hash,oid,tid,block_time,feeToken,twapId,builderFee,cloid,builder,liquidation
0,1761989786855,0x39475d17bcd20adc540e647dae6781b153fbf3b1,APT,3.2794,78.83,A,Close Long,845.14,5.368323,-0.007755,False,0xda54f7d1506d3b06dbce042e9e8eb002015e00b6eb60...,219112651353,176315780387733,2025-11-01T09:36:26.855666269,USDC,None,None,0x00000000000007670101552962835381,None,None
1,1761989786855,0xf4bd4441d2721c3b3c296ff038a64485f6de8f11,HYPE,43.38,5.0,B,Close Short,-7.5,0.823,0.147925,True,0x3ffbe507838fbffe4175042e9e8eb002016000ed1e82...,219113001363,659814697341386,2025-11-01T09:36:26.855666269,USDC,None,0.054225,0xba5ed11067f2cc08ba5ed10000ba5ed1,0x1924b8561eef20e70ede628a296175d358be80e5,None
2,1761989786855,0x880ac484a1743862989a441d6d867238c7aa311c,HYPE,43.38,5.0,A,Open Short,-829464.09,0.0,0.005205,False,0x3ffbe507838fbffe4175042e9e8eb002016000ed1e82...,219112998210,659814697341386,2025-11-01T09:36:26.855666269,USDC,None,None,None,None,None
3,1761989786855,0x47909ac071d283a596061b406e899c42956fafb7,@142,110042.0,0.01453,B,Buy,0.0000329668,0.0,0.0000083692,True,0xd2da3bef4fa66cb0d453042e9e8eb002017200d4eaa9...,219113001374,788867207332082,2025-11-01T09:36:26.855666269,UBTC,None,None,0xba5ed11067f2cc02ba5ed10000ba5ed1,0x1924b8561eef20e70ede628a296175d358be80e5,None
4,1761989786855,0x1c1c270b573d55b68b3d14722b5d5d401511bed0,@142,110042.0,0.01453,A,Sell,0.6201522231,-1.18902388,-0.0000001452,False,0xd2da3bef4fa66cb0d453042e9e8eb002017200d4eaa9...,219112933807,788867207332082,2025-11-01T09:36:26.855666269,UBTC,None,None,0xe866df284059aa2d1265765050d29899,None,None